/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
!vendor/
vendor/*
!vendor/laravel/
vendor/laravel/*
!vendor/laravel/framework/
vendor/laravel/framework/*
!vendor/laravel/framework/src/
vendor/laravel/framework/src/*
!vendor/laravel/framework/src/Illuminate/
vendor/laravel/framework/src/Illuminate/*
!vendor/laravel/framework/src/Illuminate/Foundation/
vendor/laravel/framework/src/Illuminate/Foundation/*
!vendor/laravel/framework/src/Illuminate/Foundation/Http/
vendor/laravel/framework/src/Illuminate/Foundation/Http/*
!vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/
vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/*
!vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/VerifyCsfToken.php